* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 25px;
}

h1 {
  font-weight: bold;
  color: black;
}

blockquote {
  padding-left: 15px;
  box-shadow: -8px 0 gray;
}

li {
  margin-bottom: 5px;
}

pre {
  color: brown;
  background-color: rgba(200, 0, 0, 0.1);
  padding: 5px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

footer > p {
  color: #BBBBBB;
}
